#preview-container {
  margin-bottom: 5px;
}

#answer-image-list {
  > div {
      .image-item {
          width: 247px;
          height: 139px;
          overflow: hidden;

          img {
              -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease;
              -webkit-transform: scale(1.3);
              transform: scale(1.3);
              -webkit-filter: grayscale(0%);
              -moz-filter: grayscale(0%);
              filter: grayscale(0%);
          }

          &:hover, .active {
              cursor: pointer;
              
              img {
                  -webkit-transform: scale(1);
                  transform: scale(1);
                  -webkit-filter: grayscale(100%);
                  -moz-filter: grayscale(100%);
                  filter: grayscale(100%);
              }
          }
      }
  }
}