<div id="music-preview" class="row">
    <div id="preview-container" class="col-md-4">
        <img class="img-fluid mb-1 rounded" [src]="track.cover" *ngIf="track" />
        <div id="player-buttons">
          <span class="material-icons" *ngIf="!audioPlaying()" (click)="playTrack()">play_arrow</span>&nbsp;
          <span class="material-icons" *ngIf="audioPlaying()" (click)="pauseTrack()">pause</span>&nbsp;
          <span class="material-icons" (click)="stopTrack()">stop</span>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row-fluid">
            <div class="col-md-12" *ngIf="track.name">
                <h3>{{track.name}}</h3>
            </div>
            <div class="col-md-12" *ngIf="track.description">
              {{track.description}}
            </div>
            <div class="col-md-12" *ngIf="hasSongs(track.songs)">
                <ul>
                    <li *ngFor="let song of track.songs">
                        {{song}}
                    </li>
                </ul>
            </div>
            <div class="col-md-12" *ngIf="track.author">
              -- {{track.author}}
            </div>
        </div>
    </div>
</div>