#music-preview {
    padding-bottom: 20px;

    #player-buttons {
      .material-icons {
        font-size: 52px;
        color: #666;

        &:hover {
          cursor: pointer;
          color: green;
        }
      }
    }
}